
# build output
# dependencies
# environment variables
# generated types
# image optimization archives
# jetbrains setting folder
# logs
# macOS-specific files
.DS_Store
.astro/
.env
.env.production
.idea/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
public/audio/
public/images/.optimize-originals/
yarn-debug.log*
yarn-error.log*
